:root {
  --toastify-color-success: #d3a55c !important;

  --offWhite: rgb(250, 242, 233);
  --night: #0c090d;
  --nightTransparency: rgba(12, 9, 13, 0.875);
  --darkBlue: #2d3962;
  --brilliantBlue: #2f5f98;
  --lightBlue: #2879ac;
  --blueJeans: rgb(69, 153, 195);
  --blizzardBlue: #b6dff6;
  --nightTransparency2: rgba(12, 9, 13, 0.35);
}

body {
  /*  background-image: url("../public/wallpaper-admin.png"); */
  background: rgb(48, 129, 225);
  background: linear-gradient(
    98deg,
    rgba(48, 129, 225, 0.95) 21%,
    rgba(65, 58, 203, 0.95) 50%,
    rgba(32, 29, 253, 0.95) 77%
  );
  overflow: hidden;
}

.saira {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.saira-bold {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.saira-expanded {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 !important;
  font-style: normal;
  font-variation-settings: "wdth" 125 !important;
}

.saira-expanded-bold {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500 !important;
  font-style: normal;
  font-variation-settings: "wdth" 125 !important;
}

.saira-expanded-more-bold {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600 !important;
  font-style: normal;
  font-variation-settings: "wdth" 125 !important;
}

.color-text-our-white {
  color: var(--offWhite) !important;
}

.color-text-lightBlue {
  color: var(--lightBlue);
}

.color-text-darkBlue {
  color: var(--darkBlue);
}

.color-text-blizzardBlue {
  color: var(--blizzardBlue);
}

.color-text-night {
  color: var(--night);
}

.background-lightBlue {
  background-color: var(--lightBlue) !important;
}

.background-darkBlue {
  background-color: var(--darkBlue) !important;
}

.background-offwhite {
  background-color: var(--offWhite) !important;
}

.background-night {
  background-color: var(--night) !important;
}
.background-brilliantBlue {
  background-color: var(--brilliantBlue) !important;
}

.background-blueJeans {
  background-color: var(--blueJeans) !important;
}

.background-night-transparency {
  background-color: rgba(12, 9, 13, 0.8);
}

.link-active {
  color: var(--offWhite);
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
  width: 100%;
  display: flex;
}

.link-inactive {
  color: var(--offWhite);
  text-decoration: none;
  font-size: 20px;
  width: 100%;
  display: flex;
}

.form-control:focus {
  color: rgba(255, 0, 0, 0);
  background-color: rgba(255, 0, 0, 0);
  box-shadow: none !important;
}

.button-yes-modal {
  border: 2px solid var(--brilliantBlue);
  background: var(--night);
  color: var(--offWhite);
  transition: 0.4s all ease-in-out;
}

.button-logout {
  background-color: rgba(12, 9, 13, 0);
  color: var(--offWhite);
  border: 2px solid var(--brilliantBlue);
  transition: all 0.4s ease-in-out;
}

.button-logout:hover {
  background-color: var(--blizzardBlue);
  color: var(--night);
  border: 2px solid var(--blizzardBlue);
}

.button-yes-modal:hover {
  background: var(--blizzardBlue);
  color: var(--night);
  border: 2px solid var(--blizzardBlue);
}

.img-graph-styles {
  object-fit: cover;
  max-height: 300px;
}

::-webkit-scrollbar {
  width: 0px;
}

.input-login-styles {
  color: var(--offWhite) !important;
  background-color: var(--night);
}

.input-login-styles:target {
  color: var(--offWhite) !important;
  background: var(--night);
}

.button-search {
  background: rgba(255, 0, 0, 0);
  border: 2px solid var(--blizzardBlue);
  border-left: none;
  color: var(--offwhite);
  transition: all 0.4s ease-in-out;
}

.button-search:hover {
  background: var(--blizzardBlue) !important;
  color: var(--night) !important;
}

.buscador-styles {
  border: 2px solid var(--blizzardBlue) !important;
  border-right: none;
  background-color: rgba(255, 0, 0, 0);
}
.buscador {
  height: 42px;
}

.cursor-pointer {
  cursor: pointer;
}

.input-modal-styles {
  background: var(--nightTransparency) !important;
  border: 1px solid rgba(250, 242, 233, 0.35) !important;
  color: var(--offWhite) !important;
}

::placeholder {
  color: var(--offwhite) !important;
  opacity: 0.6 !important;
}

.x-modal-styles {
  right: 20px;
  top: 14px;
}

.img-login-styles {
  object-fit: cover;
}

.logo-login-styles {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.div-login-styles {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 40%;
  background-color: var(--night);
  color: var(--offWhite);
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

.background-night-navbar {
  background-color: rgba(12, 9, 13, 0.9);
}

.button-login {
  width: 100%;
  border: 2px solid var(--blizzardBlue);
  background-color: #0c090d00;
  color: var(--offwhite);
  transition: all 0.4s ease-in-out;
}

.button-login:hover {
  color: var(--night);
  background-color: var(--blizzardBlue);
}

.background-1-home {
  background-color: #c9f2c7;
}

.background-2-home {
  background-color: #aceca1;
}

.background-3-home {
  background-color: #96be8c;
}

.background-4-home {
  background-color: #629460;
}
.navbar-styles {
  width: 100%;
  height: 100%;
}

.scroll-table {
  overflow: scroll;
  max-height: 76vh;
  scroll-behavior: smooth;
}

@media (max-width: 991px) {
  .div-login-styles {
    width: 50%;
    height: 85%;
    top: 5%;
    right: 25%;
    border-radius: 10px;
    background: var(--nightTransparency) !important;
  }
  .div-signup-styles {
    width: 50%;
    height: 95%;
    top: 2.5%;
    right: 25%;
    border-radius: 10px;
    background: var(--nightTransparency) !important;
  }
  .img-login-styles {
    width: 100vw;
  }
}

@media (max-width: 800px) {
  .div-login-styles {
    width: 60%;
    height: 85%;
    top: 5%;
    right: 20%;
    border-radius: 10px;
    background: var(--nightTransparency) !important;
  }
  .div-signup-styles {
    width: 60%;
    height: 95%;
    top: 2.5%;
    right: 20%;
    border-radius: 10px;
    background: var(--nightTransparency) !important;
  }
}

@media (max-width: 700px) {
  .div-login-styles {
    width: 65%;
    height: 85%;
    top: 5%;
    right: 17.5%;
    border-radius: 10px;
    background: var(--nightTransparency) !important;
  }
  .div-signup-styles {
    width: 65%;
    height: 95%;
    top: 2.5%;
    right: 17.5%;
    border-radius: 10px;
    background: var(--nightTransparency) !important;
  }
}

@media (max-width: 576px) {
  .div-login-styles {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 0px !important;
    background-color: var(--night) !important;
  }
  .div-signup-styles {
    width: 100%;
    height: 100% !important;
    top: 0;
    right: 0;
    border-radius: 0px !important;
    background-color: var(--night) !important;
  }
}
